@import '../../../node_modules/normalize.css/normalize.css';

@font-face {
  font-family: 'EczarRegular';
  src: url('../fonts/Eczar/Eczar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$breakpoint-tablet: 768px;

$game-stats: #6261bb;
$question-bg: #f0f8ff;
$white: #ffffff;
$border: #efefef;
$alternative-bg: #7fffd4;
$alternative-bg-hover: #5f9ea0;
$button-bg: #88c008;
$button-bg-hover: #0f58d6;

body {
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  font-family: MontserratRegular, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: EczarRegular, serif;
}
h1 {
  font-style: italic;
}

p {
  margin: 0 0 1rem 0;
}

button {
  align-content: space-around;
  background-color: $button-bg;
  border: none;
  border-radius: 0.125rem;
  color: $white;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  transition: all 140ms;
  justify-content: center;
  &:hover {
    background-color: $button-bg-hover;
    cursor: pointer;
  }
  &[disabled] {
    cursor: default;
  }
  &[disabled]:hover {
    background-color: $button-bg;
  }
}

#app {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
}

.game__stats {
  background-color: $game-stats;
  display: flex;
  color: $white;
  padding: 1rem;
}

.game__stats--stat {
  &.correct__answers {
    margin-left: auto;
  }
  &.current__question {
    margin-left: 0.75rem;
  }
}

.game__answer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.game__prepare {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.game__progress {
  display: flex;
  margin: 0 auto;
}

.game__lifelines {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lifelines {
  display: flex;
  justify-content: space-around;
}

.question {
  background-color: $question-bg;
  border-radius: 0.25rem;
  margin: 0 auto;
  width: 100%;
}

.question__text {
  display: flex;
  justify-content: center;
}

.question__alternatives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question__alternatives--alternative {
  align-content: space-around;
  background-color: $alternative-bg;
  border: none;
  border-radius: 0.125rem;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  transition: all 140ms;
  width: 90%;
  &:nth-child(1) {
    background-color: red;
  }
  &:nth-child(2) {
    background-color: green;
  }
  &:nth-child(3) {
    background-color: blue;
  }
  &:nth-child(4) {
    background-color: rgb(255, 217, 0);
  }
  &:hover {
    // background-color: $alternative-bg-hover;
    opacity: 70%;
    cursor: pointer;
  }
  @media (min-width: $breakpoint-tablet) {
    width: 40%;
  }
}
